#root {
  margin: 0 auto;
  text-align: center;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.container form{
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius-default);
  height: 300px;
}
.container form .name-form-container{
  display: flex;
  align-items: center;
  gap: 14px;
  
}
.container .products-details{
  padding: 24px;
  background: linear-gradient(90deg, rgb(214, 228, 192) 0%, rgba(238,236,127,1) 35%);
  border-radius: var(--border-radius-default);
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.container .products-details h2{
  text-align: start;
  font-size: 32px;
  color: #242424;
  font-weight: 600;
  

}
.container .products-details p{
  color: rgb(105, 104, 104);
  text-align: start;
  max-width: 300px;
}
.container .products-details span{
  font-weight: 700;
  font-size: 32px;
  text-align: start;
  width: 100%;
  color: #3a3a3a;
  display: block;
}